.d1m1 {
    .hidden {
        display: none;
    }

    & a {
        text-decoration: none;
    }

    & label {
        cursor: pointer;
        display: inline-block;
        margin-right: 2rem;
    }

    & .rows-count {
        font-size: 0.9em;
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }

    & .button-wrap {
        margin: 0.6rem 0;
        text-align: right;
    }

    & button {
        background-color: black;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 500;
        outline: none;
        padding: 8px 16px;
    }

    & table {
        border-collapse: collapse;
        width: 100%;

        & th, & td {
            padding: 0.25rem 0.6rem;
        }

        & > thead th {
            background-color: black;
            border-bottom: 1px solid black;
            color: white;

            &.col-artist, &.col-title {
                text-align: left;
            }

            &.col-rating {
                text-align: right;
            }
        }

        & > tbody {
            & > tr:nth-of-type(4n+3),
            & > tr:nth-of-type(4n+4) {
                background-color: #e7e7e7;
            }

            & > tr.row:hover {
                background-color: #a0a0a0;
                cursor: pointer;
            }

            & td {
                border-bottom: 1px solid black;
            }

            & .col-seq {
                text-align: center;
            }

            & .col-artist, & .col-title {
                max-width: 8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & .col-rating {
                text-align: right;
            }

            & .data-col {
                padding-bottom: 0.5rem;

                & > ul {
                    margin: 0;
                    line-height: 1.7;
                    list-style-type: none;
                    padding: 0.5rem 1rem;

                    & .label {
                        font-weight: bold;
                        margin: 0;
                        min-width: 10rem;
                    }

                    & span.label {
                        display: inline-block;
                    }

                    & p.label {
                        border-top: 1px dotted black;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}
